#About{
    position:relative;
    height: 765px;
    width:100%;
    background-color: #2b1055;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
   
}


#horizontalBarContainer{
    width:100vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
#About #horizontalBar{
    display: flex;
    background: blanchedalmond;
    width:70vw;
    height: 5px;
    justify-content: center;
}
#ABMContainer{
    display: flex;
    position: relative;
    z-index: 1;
}
#card{
    display: flex;
    background: blanchedalmond;
    width: 35vw;
    height: 50vh;
    margin-left: 15vw;
    transform-origin: center top;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
#card{
  width: 35vw;
  height: 50vh;
}
#About::after{
    content:'';
    position: absolute;
    bottom:0;
    width:100%;
    height:100px;
    background: linear-gradient(to top, #bea9de,transparent);
    z-index:1000;
}
#picture{
    overflow: hidden;
    object-fit: cover;
    width:1000px;
    height:664px;
    position: relative;
    transform: scale(1.3);
    
  }
  
  #picture #tree,
  #picture #myComputer,
  #picture #human1,
  #picture #human2
  {
    
    object-fit: cover;
    position: absolute;
  }
  #tree{
    transform: scale(0.2);
    margin-top: -1434px;
    margin-left:-176px;
    z-index: 1;
    opacity: 0.7;
  }
  #human2{
    transform: scale(0.75);
    margin-top: 166px;
    margin-left:345px;
    z-index: 2;
    opacity: 0.7;
  
  }
  #human1{
    transform: scale(0.5);
    margin-top: -125px;
    margin-left:-490px;
    z-index: 3;
    opacity: 0;
    
  }
  #myComputer{
    z-index: 4;
    margin-top: 204px;
    opacity: 0.7;
  }
  #human{
    margin-left: 100px;
  }
#pictureContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: -486px;
}
#secondPart{
    height: 800px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
    border-left: 50px solid transparent;
    border-right: 50px solid transparent ;
    border-image:linear-gradient(to top,black,transparent);
    border-image-slice: 1;
}
#paragraph{
  display: block;
  text-justify: center;
  color: black;
  margin-left: 5px;
  font-weight: 200;
}